// 서브-페이지 세부 스타일 설정

#popup-wrap {
  font-family: 'Noto Sans KR', sans-serif;
  color: #333;
  
  body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 50px 15px;
    box-sizing: border-box;
    font-size: 15px;
    h2 {
      margin: 0;
      font-size: 18px;
    }
  }
}
