/* 페이지별 세부 스타일 설정 */

.App-wrap {
  font-family: 'noto-sans KR';
}

.App-header {
  display: flex;
  flex-flow: row nowrap;
}

.App-body {
  display: flex;
  flex-flow: column nowrap;
}

.App-footer {
  display: flex;
  flex-flow: column nowrap;
}
