// 전체-페이지 스타일 공통설정

body {
  margin: 0;
  padding: 0;
  overflow-x: auto;
  overflow-y: hidden;
  font-family: 'Noto Sans KR', sans-serif;
  h1, h2, p, ul, li, input, button {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
  }
}
