// 방명록-페이지 세부 스타일 설정

.guest-wrap {
  width: 1200px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 20px 120px;
  box-sizing: border-box;
  font-size: 15px;
  .guest-top {
    flex: 0 0 auto;
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 10px;
    h2 {
      margin-bottom: 8px;
      font-size: 28px;
      line-height: 22px;
      color: #111;
    }
    p {
      font-size: 15px;
      font-weight: 300;
    }
  }
  .chat-wrap {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    margin: 0;
    list-style: none;
    .chat-box {
      flex: 0 0 auto;
      width: fit-content;
      height: fit-content;
      display: flex;
      flex-flow: column nowrap;
      min-width: 250px;
      max-width: 500px;
      margin-bottom: 13px;
      padding: 10px;
      border-radius: 8px 8px 0 8px;
      box-shadow: 2px 3px 4px rgba(200, 200, 200, 0.5);
      h3 {
        margin: 0 0 5px;
        font-size: 15.5px;
        line-height: 18px;
        font-weight: 500;
      }
      p {
        font-size: 14px;
      }
    }
  }
  .chat-input {
    width: 500px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 10px 0;
    background: rgba(80, 80, 80, 0.75);
    border-radius: 50px 50px 80px 80px;
    form {
      flex: 0 0 auto;
      display: flex;
      flex-flow: row nowrap;
      .input-wrap {
        display: flex;
        flex-flow: column nowrap;
        margin-right: 10px;
        .chat-box {
          width: 300px;
          display: flex;
          flex-flow: column nowrap;
          margin-bottom: 5px;
          padding: 8px;
          border-radius: 8px 8px 0 8px;
          background: #ffcad4;
          input {
            background: none;
            border: none;
            font-family: 'Noto Sans KR', sans-serif;
            color: #333;
            &:focus {
              outline: none;
            }
            &.chat-title {
              font-size: 15.5px;
              line-height: 18px;
              font-weight: 500;
            }
            &.chat-body {
              font-size: 14px;
            }
          }
        }
      }
      button {
        flex: 0 0 auto;
        height: 25px;
        padding: 0 10px;
        border: none;
        font-size: 13px;
        font-weight: 600;
        background: #333;
        color: #fff;
        border-radius: 3px;
        cursor: pointer;
      }
    }
    .color-select {
      flex: 0 0 auto;
      display: flex;
      flex-flow: row nowrap;
      li {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-left: 8px;
        cursor: pointer;
        &:hover {
          border: 1px solid #333;
          box-sizing: border-box;
        }
        &.color-1 {
          background: #ffcad4;
        }
        &.color-2 {
          background: #ffe5d9;
        }
        &.color-3 {
          background: #cce4de;
        }
        &.color-4 {
          background: #dee5fc;
        }
        &.color-5 {
          background: #cbc0d3;
        }
      }
    }
  }
}
